<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= t(:error, count: object.errors.count,
            resource: object.class.model_name.human.downcase)
          %>
    </h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
