<section>
  <%= search_form_for @searcher, html: { class:"row gy-3" } do |form| %>
    <div class="col-12">
      <div class="input-group">
        <%= form.search_field :search_simple_cont, class: "form-control",
          value: (params[:search_params][:search_simple_cont] if params[:search_params]) %>
      </div>
    </div>
    <div class="col-12">
      <%= form.submit t(:search), class: "btn btn-outline-primary w-100" %>
    </div>
  <% end %>
</section>
