<section>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= flash_color message_type %>"><%= message %></div>
    <% end %>
  </div>
</section>
