<p><%= @resource.email %>!</p>

<p><%= t :someone_has_requested_a_link_to_change_your_passwor_you_can_do_this_through_the_link_below %>.</p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, reset_password_token: @token) %></p>
